    <p><small>Ordered from most damaging routes to least damaging.</small></p>

<div class="tabbed-widget-group">
    <div class="midscreen-bnbs-heading">
        <h2 id="x" data-category="pk-combos">x</h2>
    </div>
    
    <div id="widgetx_tabx_content" class="tab-content active">
        <div class="combo-widget">
            <div class="main-"></div>
            <div class="combo-header">
                <h3>x<small> | Everywhere </small></h3>
                <span class="diff-Very-Hard">x</span>
            </div>
            <div class="combo-route">
                 <code><span class="notation move-">X</span></code>
            </div>
            <div class="combo-body-layout">
                <div class="combo-text-details">
                    <p>Damage: x</p>
                    <p>x</p>
                </div>
                    <div class="video-wrapper">  <div class="video-controls">
                        <button class="video-source-button active" onclick="switchVideoSource(this, 'youtube')">YouTube</button>
                        <button class="video-source-button" onclick="switchVideoSource(this, 'local')">Local Video</button>
                    </div>
    <div class="video-container youtube-video active">
        <iframe width="280" src="https://www.youtube.com/embed/"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container local-video">
        <video width="280" controls>
            <source src="/video/.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    
     </div>
    </div>
   </div>
  </div>
 </div>
  <!-- END level_content -->

</div>


<div style="margin-top: 40px;"></div>





yml

  - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black  
      accent: blue
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode