/* --- SETS DARK/LIGHT MODE POSITION --- */
.md-header__option[data-md-component="palette"] {
    order: 1;
    margin-left: -160px; /* Adjust this value */
}

/* Makes navigation text match the first style */
.md-nav__link {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--md-default-fg-color);
}

/* Makes navigation text more spaced */
.md-nav__link {
    padding: 12px 16px;
}

